@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");

/* General styles */
body {
  font-family: "Archivo", sans-serif;
  color: #131e41;
}

/* Scrollbar styles */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 12px; /* Width of the entire scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4d4f7; /* Color of the scrollbar handle */
  border-radius: 10px; /* Roundness of the scrollbar handle */
  border: 3px solid #f1f1f1; /* Padding around the handle */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #2d5893; /* Color of the scrollbar handle on hover */
}

/* For Firefox */
.scrollbar {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #d4d4f7 #f1f1f1; /* Color of the scrollbar handle and track */
}

/* Custom styles for vue-next-select */
/* .vue-next-select {
  --vns-border: 1px solid #ccc;
  --vns-border-radius: 0.5rem;
  --vns-padding: 0.5rem 1rem;
  --vns-font-size: 1rem;
  --vns-background: #f1f1f1;
}

.vue-next-select .vns__dropdown-menu {
  background-color: #fff;
  color: #333;
}

.vue-next-select .vns__dropdown-option {
  padding: 0.5rem 1rem;
}

.vue-next-select .vns__dropdown-option--selected {
  background-color: #007bff;
  color: #fff;
}
 */
